@use "@/styles/variables.scss" as *;

.section {
  z-index: 2;
  position: fixed;
}

.inner {
  margin-top: -55px;
  margin-left: 300px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 50px;
  letter-spacing: 0.01em;
}

.content {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: $box-shadow;
  border-radius: $radius;
  padding: 5px 30px;
  text-align: center;

  img {
    margin-top: 20px;
    border-radius: $radius;
    max-width: 100%;
  };

  h1 {
    font-size: 30px;
    margin: 5px auto;
  }

  p {
    margin: 5px auto;
  }

  i {
    font-size: 30px;
  }  
}
